:root {
  --bg: #c5e4e7;
  --white: #ffffff;

  --primary: #26c2ad;
  --primary-dark: #00474b;
  --light-cyan: #9fe8df;

  --text-color: #567774;
  --font-1: "Space Mono", system-ui;
  --font-weight: 700;

  --font-size: 24px;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-color);
  font-family: var(--font-1);
  font-size: 15px;
}

/* Text Appearance */
h1 {
  color: var(--white);
  letter-spacing: 1.3px;
  font-size: 31px;
}
h1 span {
  color: #00676c;
  font-size: 20px;
  letter-spacing: 10px;
}
p {
  line-height: 1.7;
  margin-bottom: 5px;
}

/* Components */
button {
  background: var(--primary);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  font-family: var(--font-1);
  cursor: pointer;
  transition: 0.5s ease all;
}
button:hover {
  background: var(--light-cyan);
}
input {
  padding: 10px;
  width: -webkit-fill-available;
  background: #f3f8fb;
  border: none;
  border-radius: 5px;
  text-align: end;
  font-size: 24px;
  font-family: var(--font-1);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Card Styling */
.card {
  background: var(--white);
  border-radius: 10px;
  padding: 25px;
  width: 60vw;
}

/* Part 1 */
#values {
  margin-right: 35px;
}
#values > div:not(:first-child) {
  margin-top: 35px;
}

#values > div:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  background: url("images/icon-dollar.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  transform: translate(10px, -38px);
}
#values > div:nth-child(3):after {
  content: "";
  display: block;
  position: absolute;
  background: url("images/icon-person.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  transform: translate(10px, -38px);
}

.select-tip button {
  background: var(--primary-dark);
  color: white;
  margin: 5px;
  width: -webkit-fill-available;
}

.select-tip button:hover,
.active {
  background: var(--light-cyan) !important;
  color: #004948 !important;
}

.select-tip input {
  width: 90%;
  margin: 5px;
  text-align: center;
}

#number_of_people {
  border: 1px transparent solid;
}
.error,
.error:focus-visible {
  border: 1px solid red !important;
  outline: red !important;
}

/* Part 2 */
#calculation {
  background: var(--primary-dark);
  color: var(--white);
  padding: 50px;
  border-radius: 10px;
}
#calculation > div > div > p:nth-child(1) {
  margin-right: 50px;
}
p span {
  font-size: 13px;
}
.price {
  margin-bottom: 20px;
}
.price p:nth-child(1) span {
  color: hsl(184deg 22% 69%);
}
.price p:nth-child(2) {
  font-size: 45px;
  margin: 0;
  color: var(--primary);
}
#calculation button {
  color: #004948;
}

/* Both */
#values,
#calculation {
  width: 50%;
}
/* Predefined CSS */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.hr-center {
  align-items: center;
}
.vr-center {
  justify-content: center;
}
.full-width {
  width: -webkit-fill-available;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.screen-height {
  height: 100vh;
}
.flex-wrap {
  flex-wrap: wrap;
}
.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.red {
  color: red;
}

/* media query */
@media screen and (max-width: 425px) {
  main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: auto !important;
  }

  .image {
    order: 1;
    border-radius: 5px 5px 0 0;
  }

  .card,
  .image {
    width: 90%;
  }

  .card {
    order: 2;
    padding: 25px 0;
    text-align: center;
    height: inherit;
    margin-bottom: 100px;
    border-radius: 0 0 5px 5px;
  }
  .list {
    flex-direction: column;
  }
  .list li {
    margin-bottom: 25px;
  }
}
