:root {
  /* - Strong cyan: hsl(172, 67%, 45%) 
    ### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)
*/
  --bg: #c5e4e7;
  --white: #ffffff;

  --primary: #26c2ad;
  --primary-dark: #00474b;

  --text-color: #567774;
  --font-1: "Space Mono", system-ui;
  --font-weight: 700;

  --font-size: 24px;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-color);
  font-family: var(--font-1);
  font-size: 15px;
}

/* Components */
button {
  background: var(--primary);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
}
input {
  padding: 5px;
  width: -webkit-fill-available;
}

/* Text Appearance */
h1 {
  color: var(--white);
  letter-spacing: 1.3px;
  font-size: 31px;
}
h1 span {
  color: var(--primary);
}
p {
  line-height: 1.7;
}

/* Card Styling */
.card {
  background: var(--white);
  border-radius: 10px;
  padding: 25px;
}

/* Part 1 */
#values {
  margin-right: 35px;
}

.select-tip button {
  margin: 5px;
}
.select-tip input {
  width: 70px;
}

/* Part 2 */
#calculation {
  background: var(--primary-dark);
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
}
#calculation > div > div > p:nth-child(1) {
  margin-right: 50px;
}

/* Predefined CSS */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.hr-center {
  align-items: center;
}
.vr-center {
  justify-content: center;
}
.full-width {
  width: -webkit-fill-available;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.screen-height {
  height: 100vh;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* media query */
@media screen and (max-width: 425px) {
  main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: auto !important;
  }

  .image {
    order: 1;
    border-radius: 5px 5px 0 0;
  }

  .card,
  .image {
    width: 90%;
  }

  .card {
    order: 2;
    padding: 25px 0;
    text-align: center;
    height: inherit;
    margin-bottom: 100px;
    border-radius: 0 0 5px 5px;
  }
  .list {
    flex-direction: column;
  }
  .list li {
    margin-bottom: 25px;
  }
}
